.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.active {
  color: green;
}

.App-header {
  background-color: #009900;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  display: flex;
  flex: 1 0;
  position: absolute;
  left: 0px;
  padding: 10px;
}

.Admin {
  display: flex;
  flex: 1 0;
  position: absolute;
  right: 0px;
  padding: 10px;
}
